In [500]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [549]:
df = pd.read_csv('gender_submission.csv')

In [550]:
df_training = pd.read_csv('train.csv')

In [551]:
df_testing = pd.read_csv('test.csv')

In [552]:
df_training.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [553]:
df_training.corr()

C:\Users\Dell\AppData\Local\Temp\ipykernel_15212\2031687103.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_training.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [554]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [555]:
df_training = df_training.drop('Name',axis = 1)

In [556]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [557]:
df_training.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [558]:
df_training['Age'] = df_training['Age'].fillna(df_training['Age'].mean())

In [559]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [560]:
df_training.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [561]:
df_training = df_training.drop('Cabin',axis = 1)

In [562]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [563]:
df_training[df_training['Embarked'].isna() == True]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
61,62,1,1,female,38.0,0,0,113572,80.0,NaN
829,830,1,1,female,62.0,0,0,113572,80.0,NaN

In [564]:
df_training = df_training.drop(61)

In [565]:
df_training = df_training.drop(829)

In [566]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    object
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Ticket       889 non-null    object
 8   Fare         889 non-null    float64
 9   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 76.4+ KB

In [567]:
df_training['Sex'] = pd.get_dummies(df_training['Sex'],drop_first=True)

In [568]:
df_training['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 889, dtype: uint8

In [569]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    uint8
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Ticket       889 non-null    object
 8   Fare         889 non-null    float64
 9   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2), uint8(1)
memory usage: 70.3+ KB

In [570]:
df_training.head(3)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,1,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,0,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,S

In [571]:
df_training = df_training.drop('Ticket',axis = 1)

In [572]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    uint8
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Fare         889 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(1), uint8(1)
memory usage: 63.4+ KB

In [573]:
df_training['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [574]:
df_training['Embarked'] =df_training['Embarked'].map({'S': 0,'C' : 1,'Q' : 2})

In [575]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    uint8
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Fare         889 non-null    float64
 8   Embarked     889 non-null    int64
dtypes: float64(2), int64(6), uint8(1)
memory usage: 63.4 KB

In [576]:
df_training.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.005028,-0.035330,0.043136,0.030300,-0.057686,-0.001657,0.012703,-0.030555
Survived,-0.005028,1.000000,-0.335549,-0.541585,-0.074673,-0.034040,0.083151,0.255290,0.108669
Pclass,-0.035330,-0.335549,1.000000,0.127741,-0.327954,0.081656,0.016824,-0.548193,0.043835
Sex,0.043136,-0.541585,0.127741,1.000000,0.089434,-0.116348,-0.247508,-0.179958,-0.118593
Age,0.030300,-0.074673,-0.327954,0.089434,1.000000,-0.231875,-0.178232,0.088604,0.009499
SibSp,-0.057686,-0.034040,0.081656,-0.116348,-0.231875,1.000000,0.414542,0.160887,-0.060606
Parch,-0.001657,0.083151,0.016824,-0.247508,-0.178232,0.414542,1.000000,0.217532,-0.079320
Fare,0.012703,0.255290,-0.548193,-0.179958,0.088604,0.160887,0.217532,1.000000,0.063462
Embarked,-0.030555,0.108669,0.043835,-0.118593,0.009499,-0.060606,-0.079320,0.063462,1.000000

In [577]:
df_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [578]:
df_testing = df_testing.drop('Name',axis = 1)

In [579]:
df_testing['Sex'] = pd.get_dummies(df_testing['Sex'], drop_first=True)

In [580]:
df_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    uint8
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Cabin        91 non-null     object
 9   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3), uint8(1)
memory usage: 29.9+ KB

In [581]:
df_testing['Age'] = df_testing['Age'].fillna(df_testing['Age'].mean())

In [582]:
df_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    uint8
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Cabin        91 non-null     object
 9   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3), uint8(1)
memory usage: 29.9+ KB

In [583]:
df_testing["Embarked"] = df_testing["Embarked"].map({'S': 0,'C' : 1,'Q' : 2})

In [584]:
df_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    uint8
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Cabin        91 non-null     object
 9   Embarked     418 non-null    int64
dtypes: float64(2), int64(5), object(2), uint8(1)
memory usage: 29.9+ KB

In [585]:
df_testing = df_testing.drop('Cabin',axis = 1)

In [586]:
df_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    uint8
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Embarked     418 non-null    int64
dtypes: float64(2), int64(5), object(1), uint8(1)
memory usage: 26.7+ KB

In [587]:
df_testing[df_testing['Fare'].isna() == True]

     PassengerId  Pclass  Sex   Age  SibSp  Parch Ticket  Fare  Embarked
152         1044       3    1  60.5      0      0   3701   NaN         0

In [588]:
df_testing = df_testing.drop(152)

In [589]:
df_testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  417 non-null    int64
 1   Pclass       417 non-null    int64
 2   Sex          417 non-null    uint8
 3   Age          417 non-null    float64
 4   SibSp        417 non-null    int64
 5   Parch        417 non-null    int64
 6   Ticket       417 non-null    object
 7   Fare         417 non-null    float64
 8   Embarked     417 non-null    int64
dtypes: float64(2), int64(5), object(1), uint8(1)
memory usage: 29.7+ KB

In [590]:
df_testing = df_testing.drop('Ticket',axis = 1)

In [591]:
df_testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  417 non-null    int64
 1   Pclass       417 non-null    int64
 2   Sex          417 non-null    uint8
 3   Age          417 non-null    float64
 4   SibSp        417 non-null    int64
 5   Parch        417 non-null    int64
 6   Fare         417 non-null    float64
 7   Embarked     417 non-null    int64
dtypes: float64(2), int64(5), uint8(1)
memory usage: 26.5 KB

In [593]:
y_train = df_training['Survived']

In [594]:
df_training =  df_training.drop('Survived',axis = 1)

In [595]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Pclass       889 non-null    int64
 2   Sex          889 non-null    uint8
 3   Age          889 non-null    float64
 4   SibSp        889 non-null    int64
 5   Parch        889 non-null    int64
 6   Fare         889 non-null    float64
 7   Embarked     889 non-null    int64
dtypes: float64(2), int64(5), uint8(1)
memory usage: 56.4 KB

In [597]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [599]:
from sklearn.preprocessing import StandardScaler

In [600]:
scaler = StandardScaler()

In [601]:
X_train = scaler.fit_transform(df_training)

In [602]:
X_test = scaler.transform(df_testing)

In [603]:
from sklearn.neighbors import KNeighborsClassifier

In [605]:
model = KNeighborsClassifier(n_neighbors=5)

In [606]:
model.fit(X_train,y_train)

KNeighborsClassifier()

In [607]:
y_pred = model.predict(X_test)

In [608]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [610]:
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [612]:
y_test = df.drop('PassengerId',axis = 1)

In [614]:
y_test = y_test.drop(152)

In [616]:
accuracy_score(y_test,y_pred)

0.8561151079136691

In [618]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.89      0.89       265
           1       0.81      0.79      0.80       152

    accuracy                           0.86       417
   macro avg       0.85      0.84      0.84       417
weighted avg       0.86      0.86      0.86       417

In [619]:
from sklearn.model_selection import GridSearchCV

In [620]:
grid_params = {"n_neighbors":[i for i in range(1,20,2)]}

In [621]:
model = KNeighborsClassifier()

In [622]:
grig_model = GridSearchCV(model,param_grid=grid_params,verbose = 2 , cv = 5)

In [623]:
grig_model.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] END ......................................n_neighbors=1; total time=   0.0s
[CV] END ......................................n_neighbors=1; total time=   0.0s
[CV] END ......................................n_neighbors=1; total time=   0.0s
[CV] END ......................................n_neighbors=1; total time=   0.0s
[CV] END ......................................n_neighbors=1; total time=   0.0s
[CV] END ......................................n_neighbors=3; total time=   0.0s
[CV] END ......................................n_neighbors=3; total time=   0.0s
[CV] END ......................................n_neighbors=3; total time=   0.0s
[CV] END ......................................n_neighbors=3; total time=   0.0s
[CV] END ......................................n_neighbors=3; total time=   0.0s
[CV] END ......................................n_neighbors=5; total time=   0.0s
[CV] END ......................................n_neighbors=5; total time=   0.0s
[CV] END ......................................n_neighbors=5; total time=   0.0s
[CV] END ......................................n_neighbors=5; total time=   0.0s
[CV] END ......................................n_neighbors=5; total time=   0.0s
[CV] END ......................................n_neighbors=7; total time=   0.0s
[CV] END ......................................n_neighbors=7; total time=   0.0s
[CV] END ......................................n_neighbors=7; total time=   0.0s
[CV] END ......................................n_neighbors=7; total time=   0.0s
[CV] END ......................................n_neighbors=7; total time=   0.0s
[CV] END ......................................n_neighbors=9; total time=   0.0s
[CV] END ......................................n_neighbors=9; total time=   0.0s
[CV] END ......................................n_neighbors=9; total time=   0.0s
[CV] END ......................................n_neighbors=9; total time=   0.0s
[CV] END ......................................n_neighbors=9; total time=   0.0s
[CV] END .....................................n_neighbors=11; total time=   0.0s
[CV] END .....................................n_neighbors=11; total time=   0.0s
[CV] END .....................................n_neighbors=11; total time=   0.0s
[CV] END .....................................n_neighbors=11; total time=   0.0s
[CV] END .....................................n_neighbors=11; total time=   0.0s
[CV] END .....................................n_neighbors=13; total time=   0.0s
[CV] END .....................................n_neighbors=13; total time=   0.0s
[CV] END .....................................n_neighbors=13; total time=   0.0s
[CV] END .....................................n_neighbors=13; total time=   0.0s
[CV] END .....................................n_neighbors=13; total time=   0.0s
[CV] END .....................................n_neighbors=15; total time=   0.0s
[CV] END .....................................n_neighbors=15; total time=   0.0s
[CV] END .....................................n_neighbors=15; total time=   0.0s
[CV] END .....................................n_neighbors=15; total time=   0.0s
[CV] END .....................................n_neighbors=15; total time=   0.0s
[CV] END .....................................n_neighbors=17; total time=   0.0s
[CV] END .....................................n_neighbors=17; total time=   0.0s
[CV] END .....................................n_neighbors=17; total time=   0.0s
[CV] END .....................................n_neighbors=17; total time=   0.0s
[CV] END .....................................n_neighbors=17; total time=   0.0s
[CV] END .....................................n_neighbors=19; total time=   0.0s
[CV] END .....................................n_neighbors=19; total time=   0.0s
[CV] END .....................................n_neighbors=19; total time=   0.0s
[CV] END .....................................n_neighbors=19; total time=   0.0s
[CV] END .....................................n_neighbors=19; total time=   0.0s

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]},
             verbose=2)

In [624]:
grig_model.best_params_

{'n_neighbors': 9}

In [625]:
model = KNeighborsClassifier(n_neighbors=9)

In [626]:
model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=9)

In [627]:
y_pred = model.predict(X_test)

In [628]:
accuracy_score(y_test,y_pred)

0.894484412470024